body {
    position: relative;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
}

.odin-server {
    padding: 40px 15px;
    text-align: center;
}

.row {
    display: flex;
}


.left {
    flex: 80%
}
.right {
    flex: 20%
}